<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE generatorConfiguration
          PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
          "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
  
  <!-- 加入属性参数，可以覆盖重名文件 
  	mvn -Dmybatis.generator.overwrite=true mybatis-generator:generate
   -->
  <generatorConfiguration>
      <classPathEntry
              location="F:/WorkSpace/zookeeper/src/test/resources/mysqllib/mysql-connector-java-5.1.40.jar"/>
      <context id="my" targetRuntime="MyBatis3">
         <commentGenerator>
             <property name="suppressDate" value="false"/>
             <property name="suppressAllComments" value="true"/>
         </commentGenerator>
 		<!--  driver: oracle.jdbc.driver.OracleDriver
 			url:jdbc:oracle:thin:@172.20.16.***:1521:CARGO
 		-->
         <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                         connectionURL="jdbc:mysql://localhost:3306/egf_payment"
                         userId="root"
                         password="320721Cba"/>
 
         <javaModelGenerator targetPackage="com.egfbank.payment.pojo"
                             targetProject="F:/WorkSpace/zookeeper/src/main/java">
             <property name="enableSubPackages" value="true"/>
             <property name="trimStrings" value="true"/>
         </javaModelGenerator>
 		<!-- 生成sql映射文件和位置 -->
         <sqlMapGenerator targetPackage="mybatis"
                          targetProject="F:/WorkSpace/zookeeper/src/main/resources">
             <property name="enableSubPackages" value="true"/>
         </sqlMapGenerator>
 		<!-- 生成mapper接口 
 		  属性：implementationPackage:如果指定了该属性，实现类就会生成在这个包中 
 		-->
         <javaClientGenerator targetPackage="com.egfbank.payment.dao"
                              targetProject="F:/WorkSpace/zookeeper/src/main/java"
                               type="XMLMAPPER" >
             <property name="enableSubPackages" value="true"/>
         </javaClientGenerator>
 
          
 		 <!-- 支付 -->
         <table tableName="egf_pay_order" domainObjectName="PayOrder"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
 		<table tableName="egf_payment" domainObjectName="Payment"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
         <table tableName="egf_pay_detail_bank" domainObjectName="PayDetailBank"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
         <table tableName="egf_pay_detail" domainObjectName="PayDetail"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
          <!-- 提现 -->
         <table tableName="egf_withdraw_order" domainObjectName="WithdrawOrder"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
         <table tableName="egf_withdraw_detail" domainObjectName="WithdrawDetail"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
         <table tableName="egf_withdraw_detail_bank" domainObjectName="WithdrawDetailBank"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
         <!-- 退款 -->
         <table tableName="egf_refund_order" domainObjectName="RefundOrder"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
         <table tableName="egf_refund_detail_bank" domainObjectName="RefundDetailBank"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
         <table tableName="egf_refund_detail" domainObjectName="RefundDetail"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
         <!-- 错误码 -->
          <table tableName="egf_PUSH_LOG" domainObjectName="PushLog"
                enableCountByExample="false" enableUpdateByExample="false"
                enableDeleteByExample="false" enableSelectByExample="false"
                selectByExampleQueryId="false">
         </table>
     </context>
 </generatorConfiguration>